<div>
  <div class="row control-box">
    <div class="col-lg-8">
      <div class="search-box">
        <app-search-box (searchChange)="onSearchChanged($event)"
                        placeholder="{{'roles.management.Search' | translate}}">>
        </app-search-box>
      </div>
    </div>
    <div class="col-lg-4 pe-lg-5">
      <ul class="nav flex-column flex-lg-row justify-content-end">
        <li *ngIf="canManageRoles" class="nav-item toolbaritem">
          <a (click)="newRole()" class="nav-link" href="javascript:">
            <i class="fa fa-plus-circle"></i> {{'roles.management.NewRole' | translate}}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <ngx-datatable [columnMode]="'force'"
                 [columns]="columns"
                 [footerHeight]="35"
                 [headerHeight]="37"
                 [loadingIndicator]="loadingIndicator"
                 [rowHeight]="35"
                 [rows]="rows"
                 [scrollbarV]="true"
                 class="material colored-header sm table-x table-striped table-hover">
  </ngx-datatable>

  <ng-template #indexTemplate let-value="value">
    <strong>{{value}}</strong>
  </ng-template>


  <ng-template #actionsTemplate let-i="index" let-row="row" let-value="value">
    <a (click)="editRole(row)" *ngIf="canManageRoles" class="btn btn-link text-link btn-sm" href="javascript:"><i
      aria-hidden="true" class="fa fa-pencil-square-o"></i> {{'roles.management.Edit' | translate}}</a>
    <a (click)="editRole(row)" *ngIf="!canManageRoles" class="btn btn-link text-link btn-sm" href="javascript:"><i
      aria-hidden="true" class="fa fa-eye"></i> {{'roles.management.Details' | translate}}</a>
    {{canManageRoles ? '|' : ''}}
    <a (click)="deleteRole(row)" *ngIf="canManageRoles" class="btn btn-link text-link btn-sm" href="javascript:"><i
      aria-hidden="true" class="fa fa-trash-o"></i> {{'roles.management.Delete' | translate}}</a>
  </ng-template>

  <ng-template #editorModal let-modal>
    <div class="modal-header">
      <h4 *ngIf="!canManageRoles" class="modal-title"><i
        class="fa fa-shield"></i> {{'roles.management.RoleDetails' | translate:editingRoleName}}</h4>
      <h4 *ngIf="canManageRoles" class="modal-title"><i
        class="fa fa-shield"></i> {{editingRoleName ? ('roles.management.EditRole' | translate:editingRoleName) : ('roles.management.NewRole' | translate)}}
      </h4>
      <button (click)="modal.close()" class="btn-close fs-sm" tabindex="-1" title="Close" type="button"></button>
    </div>
    <div class="modal-body">
      <app-role-editor #roleEditor (afterOnInit)="setRoleEditorComponent($event)"></app-role-editor>
    </div>
  </ng-template>
</div>
