<div class="row statistics-container">
  <div class="col-md-7">
    <div class="chart-container">
      <canvas (chartClick)="chartClicked($event)" (chartHover)="chartHovered($event)" [datasets]="chartData"
              [labels]="chartLabels"
              [legend]="true"
              [options]="chartOptions"
              [type]="chartType"
              baseChart
              height="250"
              width="600"></canvas>
    </div>
  </div>
  <div class="col-md-5">
    <div class="d-none d-sm-block table-responsive">
      <table class="table table-sm bg-transparent">
        <thead>
        <tr>
          <th class="border-top-0"></th>
          <th *ngFor="let label of chartLabels" class="border-top-0">{{label}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let d of chartData">
          <th>{{d && d.label.split(' ').pop()}}</th>
          <td *ngFor="let label of chartLabels; let j=index">{{d && d.data[j]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <button (click)="randomize();showMessage('Manual refresh!');" class="refresh-btn">REFSH</button>
    <div class="d-inline-block" ngbDropdown>
      <button class="dropdown-toggle" id="chartType" ngbDropdownToggle type="button"><i class="fa fa-bar-chart"></i>
      </button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button (click)="changeChartType('bar')" [class.active]="chartType === 'bar'" ngbDropdownItem>Bar Chart</button>
        <button (click)="changeChartType('pie')" [class.active]="chartType === 'pie'" ngbDropdownItem>Pie Chart</button>
        <button (click)="changeChartType('doughnut')" [class.active]="chartType === 'doughnut'" ngbDropdownItem>Doughnut
          Chart
        </button>
        <button (click)="changeChartType('polarArea')" [class.active]="chartType === 'polarArea'" ngbDropdownItem>Polar
          Area Chart
        </button>
        <button (click)="changeChartType('radar')" [class.active]="chartType === 'radar'" ngbDropdownItem>Radar Chart
        </button>
        <div class="dropdown-divider"></div>
        <button (click)="changeChartType('line')" [class.active]="chartType === 'line'" ngbDropdownItem>Line Chart
        </button>
      </div>
    </div>
    <button (click)="showMessage('You\'ve clicked on the menu')"><i class="fa fa-bars"></i></button>
    <button (click)="showDialog('Enter some value to do serious configuration...')"><i class="fa fa-cogs"></i></button>
  </div>
</div>
