<header class="pageHeader">
  <h3><i aria-hidden="true" class="fa fa-tachometer fa-lg page-caption"></i> {{'pageHeader.Dashboard' | translate}}</h3>
</header>
<div [@fadeInOut]>
  <div #widgetsContainer (cdkDropListDropped)="drop($event)" cdkDropList class="row">
    <div *ngIf="!configurations.showDashboardStatistics && !configurations.showDashboardNotifications &&
         !configurations.showDashboardTodo && !configurations.showDashboardBanner" class="col-12 my-5">
      <div class="card card-body bg-light">
        <h4 class="text-muted text-center text-link">
          {{'home.NoWidgets1' | translate}}
          <a fragment="preferences" routerLink="/settings"><i
            class="fa fa-sliders"></i> {{'settings.tab.Preferences' | translate}}</a>
          {{'home.NoWidgets2' | translate}}
        </h4>
      </div>
    </div>

    <div #dashboardStatistics *ngIf="configurations.showDashboardStatistics" [cdkDragStartDelay]="dragStartDelay"
         cdkDrag
         class="col-12 mb-4 widget-container px-0" id="dashboardStatistics">
      <button (click)="configurations.showDashboardStatistics = false" aria-label="Close" class="btn-close" title="Close"
              type="button"></button>
      <div class="card card-body bg-light">
        <h5 class="text-muted d-inline-block">{{'home.StatisticsTitle' | translate}}</h5>
        <div #dragPlaceholder *cdkDragPlaceholder [style.minHeight.px]="getPlaceholderMinHeight(dragPlaceholder, dashboardStatistics)"
             class="widget-container-placeholder mb-4"></div>
        <app-statistics-demo></app-statistics-demo>
      </div>
    </div>

    <div #dashboardNotifications *ngIf="configurations.showDashboardNotifications" [cdkDragStartDelay]="dragStartDelay"
         cdkDrag
         class="col-12 mb-4 widget-container px-0" id="dashboardNotifications">
      <button (click)="configurations.showDashboardNotifications = false" aria-label="Close" class="btn-close" title="Close"
              type="button"></button>
      <div #dragPlaceholder *cdkDragPlaceholder [style.minHeight.px]="getPlaceholderMinHeight(dragPlaceholder, dashboardNotifications)"
           class="widget-container-placeholder mb-4"></div>
      <app-notifications-viewer></app-notifications-viewer>
    </div>

    <div #dashboardTodo *ngIf="configurations.showDashboardTodo" [cdkDragStartDelay]="dragStartDelay"
         cdkDrag
         class="col-12 mb-4 pt-1 widget-container px-0" id="dashboardTodo">
      <button (click)="configurations.showDashboardTodo = false" aria-label="Close" class="btn-close extra-down" title="Close"
              type="button"></button>
      <div #dragPlaceholder *cdkDragPlaceholder [style.minHeight.px]="getPlaceholderMinHeight(dragPlaceholder, dashboardTodo)"
           class="widget-container-placeholder mb-4"></div>
      <app-todo-demo></app-todo-demo>
    </div>

    <div #dashboardBanner *ngIf="configurations.showDashboardBanner" [cdkDragStartDelay]="dragStartDelay"
         cdkDrag
         class="col-12 mb-4 widget-container no-shadow px-0" id="dashboardBanner">
      <button (click)="configurations.showDashboardBanner = false" aria-label="Close" class="btn-close" title="Close"
              type="button"></button>
      <div #dragPlaceholder *cdkDragPlaceholder [style.minHeight.px]="getPlaceholderMinHeight(dragPlaceholder, dashboardBanner)"
           class="widget-container-placeholder mb-4"></div>
      <app-banner-demo></app-banner-demo>
    </div>
  </div>
</div>
